 Options -MultiViews
    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.html [QSA,L]

    # Disable index view
Options -Indexes




 
# protect .htaccess
<Files ~ "^.*\.([Ee][Nn][Vv])">
	Order allow,deny
	Deny from all
	Satisfy all
</Files> 

